package user

import "github.com/vitorwdson/go-templ-htmx/model/user"
import "github.com/vitorwdson/go-templ-htmx/view/layout"

templ Profile(user user.User) {
	@layout.Base() {
		<h1 class="text-red-500">Hello, { user.Name }!</h1>
	}
}
